* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5885AF;
  color: white;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.logo img{
  height: 7vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  color: white;
}

.nav-links li {
  list-style: none;
  cursor: pointer
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease-in;
}

.nav-active {
  transform: translateX(0%) !important;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

section {
  display: flex;
  justify-content: space-around;
}

.section-header {
  text-align: center;
}

.section-heading {
  font-weight: 300;
}

.section-heading:before,
.section-heading:after {
  background-color: #5885AF;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

.section-heading:before {
  right: 5px;
}

.section-heading:after {
  left: 5px;
}

.home-container {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
}

.home-container h1 {
  font-size: 40px;
  color: #5885AF;
}

.main-intro {
  width: 40%;
}

.illustation-main {
  height: 50vh;
}

#about {
  background-color: #C3E0E5;
  background-image:  url('/images/Polygon\ Luminary.svg');
  background-size: cover;
}

.about-container {
  height: 50vh;
  display: block;
  justify-content: space-around;
  width: 50%;
  margin-top: 15px;
  background-size: cover;
}

.about-content-wrapper {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-content-title {
  width: 30%;
}

.about-content-title {
  font-size: 40px;
  color: #5885AF;
  letter-spacing: 0;
  line-height: 80px;
}

.about-content {
  padding: 10px;
  line-height: 2em;
  width: 60%;
  margin-top: 15px;
}

.offering-container{
  display: block;
  justify-content: space-around;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 50vh;
}

.offering-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offering-content{
  margin-top: 10px;
  width: 40%;
}

.offering-content-title{
  font-size: 30px;
  color: #5885AF;
  letter-spacing: 0;
  line-height: 80px;
}

#contact{
  background-color: #C3E0E5;
}

.contact-container{
  display: block;
  justify-content: space-around;
  width: 80%;
  margin-top: 15px;
  text-align: center;
  min-height: 40vh;
}

.nav-button {
  border: 1px solid #5885AF;
  background: none;
  padding: 5px;
  margin: 10px;
  color: #5885AF;
  cursor: pointer;
}

.nav-button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    width: 50%;
    top: 8vh;
    background-color: #5885AF;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }
  .home-container {
    margin-top: 5%;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .home-container h1 {
    font-size: 30px;
  }
  .main-intro {
    width: 100%;
    text-align: center;
  }
  .illustation-main {
    width: 100%;
    height: 50%;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .about-container {
    width: 85%;
    height: max-content;
  }

  .about-content-title {
    width: 70%;
    font-size: 30px;
    line-height: 50px;
  }

  .about-content {
    width: 100%;
    height: max-content;
    padding: 0;
  }

  .about-content-wrapper {
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
    padding: 5px;
  }

  .offering-container{
    width: 85%;
    padding: 5px;
  }

  .offering-content-title{
    font-size: 30px;
    line-height: 45px;
    margin-top: 10px;
  }

  .offering-content{
    width: auto;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  